<div class="image-container">
<img src="./assets/splash-image.png" alt="findine background">
<h1>This is the homepage</h1>
<div class="row">
  <div class="col-md-6">
    <h2>Look for food!</h2>

    <div class="row">
      <div class="col-md-6">
        <h2>Look for food!</h2>

        <div class="row">
          <div class="col-md-6">
            <h2 class="center-align">Satisfy your cravings!</h2>

</div>
            <form class="form login-form">
              <div class="form-group">
                <label for="food-search">Enter City or Zip Code!</label>
                <input class="form-input" type="text" id="food-search" />
                <label for="food-search-radius">Enter search radius!</label>
                <input class="form-input" type="text" id="food-search-radius" />
                {{!-- radius & zip code --}}
              </div>
              <div class="form-group">

                <button class="btn black btn-primary" type="submit">Search</button>

              </div>
              {{!-- <ul id="res-results"></ul> --}}
            </form>
          </div>
          <div class="search-results">
            <div class="row">
              <div class="col s3">
                <div class="name">restraunt name</div>
                <div class="address">address</div>
              </div>
              <div class="col s3">
                <div class="name">restraunt name</div>
                <div class="address">address</div>
              </div>
              <div class="col s3">
                <div class="name">restraunt name</div>
                <div class="address">address</div>
              </div>
              <div class="col s3">
                <div class="name">restraunt name</div>
                <div class="address">address</div>
              </div>
              <div class="col s3">
                <div class="name">restraunt name</div>
                <div class="address">address</div>
              </div>
              <div class="col s3">
                <div class="name">restraunt name</div>
                <div class="address">address</div>
              </div>
              <div class="col s3">
                <div class="name">restraunt name</div>
                <div class="address">address</div>
              </div>
              <div class="col s3">
                <div class="name">restraunt name</div>
                <div class="address">address</div>
              </div>
            </div>

          </div>
        </div>
        <script src="/js/search.js"></script>
        <script src="/js/profile.js"></script>