<div class="row">
    <div class="col-md-6">
        <h2>Results!</h2>
        <div class="row mb-4 project">
            <div class="col-md-5">
                <p>{{img}}</p>
                <p>{{name}}</p>
                <p>{{address}}</p>
                <p>{{rating}}</p>
            </div>
        </div>
    </div>
</div>

<script src="/js/search.js"></script>